/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
                  BASE
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  min-width: 100vw;
  overflow-x: hidden;
  font-family: "montserrat-bold", sans-serif;
  font-size: 1rem;
}

/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% 
                   FONTS
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

@import url("iconic/css/iconmonstr-iconic-font.min.css");
@import url("fonts.css");

/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
                   HOME
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/

/* HEADER start____________________________________ */
/* ________________________________________________ */

@keyframes fade-home-nav {
  from {
    opacity: 0;
    transform: translateX(150%);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.header {
  font-family: "montserrat-bold", sans-serif;
  font-size: 17px;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
  position: absolute;
  background-color: transparent;
  margin: 0;
  width: 100vw;
  height: 80px;
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}

@keyframes fade-home-logo {
  from {
    opacity: 0;
    transform: translateY(500%);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.logo {
  position: relative;
  animation: fade-home-logo 6.5s ease-in 0s 1 normal;
}

.header ul {
  display: inline-block;
  list-style: none;
  animation: fade-home-nav 1.5s ease-in 0s 1 normal;
}

.header li {
  display: inline-block;
  margin: 0;
  padding-right: 2rem;
}

.header li a {
  text-decoration: none;
  color: brown;
  transition: all 0.6s ease-in-out;
}

.header li a:hover {
  color: gray;
}

.header .current::before {
  display: inline-block;
  content: "";
  width: 90px;
  height: 2px;
  margin-bottom: 5px;
  background-color: brown;
  margin-right: 6px;
}

/* HOME start______________________________________ */
/* ________________________________________________ */

.home {
  margin: 0;
  width: 100vw;
  height: 100vh;
}

.herovideo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100vw;
  min-height: 100vh;
  overflow: hidden;
}

.home h1 {
  font-family: "montserrat-bold", sans-serif;
  font-size: 45px;
  text-transform: uppercase;
  font-weight: 600;
  color: gray;
}

.home h2 {
  font-family: "montserrat-bold", sans-serif;
  font-size: 33px;
  text-transform: uppercase;
  font-weight: 600;
  color: gray;
}

.home h3,
.header li {
  font-family: "montserrat-bold", sans-serif;
  font-size: 17px;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
  color: brown;
  font-weight: 800;
}

@keyframes fade-home-hello {
  from {
    opacity: 0;
    transform: translateX(150%);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.home .home-hello {
  position: absolute;
  z-index: 2;
  left: 40px;
  bottom: 40px;
  animation: fade-home-hello 7.5s ease-in 0s 1 normal;
}

.home-hello h3::after {
  display: inline-block;
  content: "";
  width: 120px;
  height: 2px;
  margin-bottom: 5px;
  background-color: brown;
}

/* SCROLL DOWN start________________________________ */
/* _________________________________________________ */

@keyframes fade-home-scroll {
  from {
    opacity: 0;
    transform: translateY(150%);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.home .home-scroll {
  position: absolute;
  left: 40%;
  bottom: 0.3rem;
  z-index: 500;
  animation: fade-home-scroll 6.5s ease-in 0s 1 normal;
}

.home .home-scroll a {
  font-family: "montserrat-semibold", sans-serif;
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: gray;
  position: relative;
  display: inline-block;
  line-height: 5rem;
  padding-right: 2rem;
  text-decoration: none;
}

.home-scroll a:before {
  display: inline-block;
  content: "";
  width: 35px;
  height: 2px;
  margin-bottom: 5px;
  background-color: brown;
}

.home-scroll a::after {
  display: inline-block;
  content: "";
  width: 65px;
  height: 2px;
  margin-bottom: 5px;
  background-color: brown;
}

/* BUTTONS HOME start________________________________ */
/* __________________________________________________ */

@keyframes fade-home-buttons {
  from {
    opacity: 0;
    transform: translateX(-150%);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.home .home-buttons {
  position: absolute;
  right: 15rem;
  bottom: 3rem;
  text-align: center;
  z-index: 5;
  animation: fade-home-buttons 4.5s ease-in 0s 1 normal;
}

.home .home-buttons .button {
  font-family: "montserrat-semibold", sans-serif;
  font-size: 1.5rem;
  text-transform: uppercase;
  text-decoration: none;
  color: gray;
  padding: 5px;
  display: block;
  border: 3px;
  border-style: solid;
  width: 200px;
  border-color: gray;
  color: grey;
  margin-top: 10px;
  transition: all 0.6s ease-in-out;
}

.home .home-buttons .button:hover,
.home .home-buttons .button:focus {
  background-color: grey !important;
  color: brown;
}

/* SOCIAL MEDIA start________________________________ */
/* __________________________________________________ */

@keyframes fade-home-social {
  from {
    opacity: 0;
    transform: translateY(-150%);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.social-icons {
  position: absolute;
  z-index: 800;
  right: 25px;
  bottom: 45px;
  padding: 5px;
  text-decoration: none;
  animation: fade-home-social 3.5s ease-in 0s 1 normal;
}

.social-icons a {
  color: gray;
  font-size: 25px;
  transition: all 0.6s ease-in-out;
}

.sc-instagram::after {
  display: block;
  content: "";
  width: 2px;
  height: 50px;
  margin-left: 12px;
  background-color: brown;
}

.sc-fiverr::after {
  display: block;
  content: "";
  width: 2px;
  height: 25px;
  margin-left: 12px;
  background-color: brown;
}

.sc-youtube::after {
  display: block;
  content: "";
  width: 2px;
  height: 150px;
  margin-left: 12px;
  background-color: brown;
}

.social-icons a:hover {
  color: brown;
}

/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
______________HOME end_____________________________
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/

/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
______________ABOUT ME_________________________________
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/

.about-me {
  position: relative;
  background-image: url(assets/tlo/geometric.png);
  background-repeat: repeat;
  width: 100%;
  height: 1100px;
}

.kamisfoto img {
  height: 500px;
  height: 700px;
  /* box-shadow: 1px 1px 5px 6px grey; */
  box-shadow: 1px 1px 20px 6px grey;
  border-radius: 1%;
}

/* ABOUT ME HEADER start_______________________________ */
/* ____________________________________________________ */

.about-me-header {
  width: 700px;
  padding-bottom: 10vh;
  text-align: center;
  padding-top: 70px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-family: "montserrat-semibold", sans-serif;
  color: gray;
}

.about-me-header h1 {
  font-family: "montserrat-bold", sans-serif;
  font-size: 3rem;
  text-transform: uppercase;
  color: brown;
  padding-bottom: 15px;
  text-shadow: 1px 2px 1px grey;
}

.about-me-header h1:before {
  display: inline-block;
  content: "";
  width: 35px;
  height: 2px;
  margin-bottom: 5px;
  background-color: brown;
}

.about-me-header h1:after {
  display: inline-block;
  content: "";
  width: 35px;
  height: 2px;
  margin-bottom: 5px;
  background-color: brown;
}

.about-me-header p {
  font-size: 1rem;
}

/* ABOUT ME HEADER end____________________________________ */
/* _______________________________________________________ */

.row-about-me {
  font-family: "montserrat-bold", sans-serif;
  display: grid;
  grid-template-columns: repeat(2, 500px);
  grid-template-rows: repeat(2, 600px);
  gap: 20px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 35vh;
  color: grey;
}

/* TEXT ABOUT ME start______________________________________ */
/* _________________________________________________________ */

.about-me-text h3 {
  font-family: "montserrat-bold", sans-serif;
  font-size: 1.7rem;
  text-transform: uppercase;
  color: brown;
  padding-bottom: 10px;
  text-shadow: 1px 1px 1px grey;
}

.about-me-text {
  font-size: 1.5rem;
  text-align: end;
}

/* BUTTON HIRE ME start______________________________________ */
/* __________________________________________________________ */

.about-me .hire-me {
  position: relative;
  left: -20%;
  bottom: -50px;
  text-align: center;
  z-index: 5;
  background-color: transparent;
}

.about-me .hire-me a {
  font-family: "montserrat-semibold", sans-serif;
  font-size: 1.5rem;
  text-transform: uppercase;
  text-decoration: none;
  color: gray;
  padding: 5px;
  display: block;
  border: 3px;
  border-style: solid;
  width: 200px;
  border-color: gray;
  transition: all 0.6s ease-in-out;
}

.about-me .hire-me .button:hover,
.about-me .hire-me .button:focus {
  background-color: grey;
  color: brown !important;
}

/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
______________ABOUT ME end_____________________________
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/

/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
______________PROMO VIDEO start________________________
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/

.promo-video h1 {
  font-family: "montserrat-bold", sans-serif;
  font-size: 3rem;
  text-transform: uppercase;
  text-align: center;
  color: whitesmoke;
  padding-top: 130px;
  padding-bottom: 50px;
  text-shadow: 1px 1px 1px grey;
}

.promo-video h1:before {
  display: inline-block;
  content: "";
  width: 35px;
  height: 2px;
  margin-bottom: 5px;
  background-color: brown;
}

.promo-video h1:after {
  display: inline-block;
  content: "";
  width: 35px;
  height: 2px;
  margin-bottom: 5px;
  background-color: brown;
}

.promo-video {
  position: relative;
  background-image: url(assets/tlo/piasek.jpg);
  background-size: cover;
  width: 100%;
  height: 100%;
  padding-bottom: 70px;
}

.max-width-video {
  max-width: 1700px;
  margin: 0 110px;
}

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
}

.video-wrapper iframe {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
______________PROMO VIDEO end___________________________
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/

/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
______________PROJECTS start____________________________
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/

/* HEADER_____________________________________________ */
/* ___________________________________________________ */

.projects-section {
  position: relative;
  background-image: url(assets/tlo/geometric.png);
  background-repeat: repeat;
  width: 100%;
  height: 100%;
  padding-bottom: 110px;
}

.projects-section h1 {
  font-family: "montserrat-bold", sans-serif;
  font-size: 3rem;
  text-transform: uppercase;
  text-align: center;
  color: brown;
  padding: 30px 0;
  text-shadow: 1px 1px 1px whitesmoke;
}

.projects-section h1:before {
  display: inline-block;
  content: "";
  width: 35px;
  height: 2px;
  margin-bottom: 5px;
  background-color: brown;
}

.projects-section h1:after {
  display: inline-block;
  content: "";
  width: 35px;
  height: 2px;
  margin-bottom: 5px;
  background-color: brown;
}

/* PROJECTS GRID_____________________________________ */
/* __________________________________________________ */

.projects-container {
  display: grid;
  grid-template-columns: 400px 400px;
  grid-template-rows: 400px 300px;
  gap: 20px;
  column-gap: 150px;
  grid-template-areas:
    "projects-video"
    "projects-animations"
    "projects-graphic"
    "projects-pictures";
  justify-content: center;
}

.projects-container h1 {
  font-family: "montserrat-bold", sans-serif;
  font-size: 2rem;
  text-transform: uppercase;
  color: grey;
  text-shadow: 1px 2px 1px brown;
  padding-bottom: 15px;
  text-align: center;
  position: relative;
}

.projects-container h3 {
  font-family: "montserrat-bold", sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  color: grey;
  text-align: center;
}

.projects-block a {
  height: 200px;
  width: 350px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 2rem;
  overflow: hidden;
  box-shadow: 1px 1px 20px 6px grey;
  transition: all 0.8s ease-out;
}

.img-block {
  max-width: 100%;
  transition: all 0.8s ease-out;
}

.projects-block a:hover .img-block {
  transform: scale(1.2);
  opacity: 0.25;
}

.projects-block a:hover {
  box-shadow: 8px 8px 40px 20px brown;
}

/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
______________PROJECTS end______________________________
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/

/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
______________TESTIMONIALS start________________________
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/

.testimonials {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: url(assets/tlo/piasek.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.test-container {
  display: flex;
  flex-direction: row;
}

/* TESTIMONIALS SLIDER start____________________________*/
/* _____________________________________________________ */

.test-slider {
  display: flex;
  justify-content: space-around;
  top: 10vh;
  height: 50px;
  width: 100vw;
  text-align: center;
  color: whitesmoke;
  position: absolute;
  z-index: 5;
  margin-bottom: 50px;
}

.test-slider h1 {
  font-family: "montserrat-bold", sans-serif;
  font-size: 3rem;
  text-transform: uppercase;
  text-shadow: 2px 2px 0.5px brown;
}

.test-slider h1:before {
  display: inline-block;
  content: "";
  width: 45px;
  height: 2px;
  margin-bottom: 5px;
  background-color: brown;
}

.test-slider h1:after {
  display: inline-block;
  content: "";
  width: 45px;
  height: 2px;
  margin-bottom: 5px;
  background-color: brown;
}

.button-prev,
.button-next {
  font-size: 50px;
  background-color: rgba(80, 80, 80, 0.4);
  border-radius: 100%;
  cursor: pointer;
  text-align: center;
  align-self: auto;
}

.button-prev {
  margin-left: 15vw;
}

.button-next {
  margin-right: 15vw;
}

/* TESTIMONIALS SLIDER end________________________________ */
/* _______________________________________________________ */

.test-state {
  display: flex;
  justify-content: space-around;
  top: 35vh;
  /* height: 25vh; */
  width: 100vw;
  text-align: center;
  z-index: 5;
  position: relative;
}

.test-card {
  width: 20vw;
  padding-top: 20px;
  /* height: 50vh; */
}

.test-state img {
  position: block;
  /* height: 6.6rem; */
  width: 6.6rem;
  border-radius: 100%;
  box-shadow: 0 0 0 0.9rem rgba(255, 255, 255, 0.1);
}

.test-card blockquote {
  color: whitesmoke;
  margin: 25px 0 20px 0;
  font-size: 1.2em;
}

.test-card blockquote::before {
  display: block;
  content: "";
  width: 2px;
  /* height: 60px; */
  background-color: brown;
  padding-top: 30px;
  margin-bottom: 10px;
  margin-left: 10vw;
}

.test-card .test-author {
  color: brown;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 500;
}

.test-card span {
  color: whitesmoke;
}

/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
______________TESTIMONIALS end__________________________
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/

/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
______________CONTACT start_____________________________
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/

/* CONTACT HEADER_______________________________________ */
/* _____________________________________________________ */

.contact {
  position: relative;
  background-image: url(assets/tlo/geometric.png);
  background-repeat: repeat;
  width: 100%;
  height: 100vh;
}

.contact-intro {
  width: 40vw;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-family: "montserrat-bold", sans-serif;
}

.contact h1 {
  text-align: center;
  font-size: 3rem;
  text-transform: uppercase;
  color: brown;
  padding: 30px 0;
  text-shadow: 1px 1px 1px whitesmoke;
}

.contact h1:before {
  display: inline-block;
  content: "";
  width: 45px;
  height: 2px;
  margin-bottom: 5px;
  background-color: brown;
}

.contact h1:after {
  display: inline-block;
  content: "";
  width: 45px;
  height: 2px;
  margin-bottom: 5px;
  background-color: brown;
}

.contact h3 {
  text-align: center;
  color: grey;
  size: 1.7rem;
}

/* CONTACT FORM _______________________________________ */
/* ____________________________________________________ */

.row-contact {
  position: absolute;
  top: 300px;
  align-content: center;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 70vw;
  height: 50vh;
  border-style: none;
}

.contact-form {
  width: 30vw;
  background-color: transparent;
}

.form-field input {
  width: 100%;
  background-color: transparent;
  height: 5rem;
  cursor: pointer;
  border-style: none;
  transition: all 0.6s ease-in-out;
  padding-left: 10px;
  font: inherit;
  color: whitesmoke;
  border-bottom: 1px solid gray;
}

#contact-message {
  height: 6em;
}

.form-field input:hover {
  background-color: grey;
  color: black;
}

::placeholder {
  font-size: 24px;
}

input:hover::placeholder {
  color: brown;
}

fieldset {
  border-style: none;
}

/* INFO FORM___________________________________________ */
/* ____________________________________________________ */
.contact-info {
  color: grey;
  font-size: 1.5rem;
  margin-left: 39px;
}

.contact-info h4 {
  text-transform: uppercase;
  opacity: 0.5;
}

.contact-info h4:after {
  display: inline-block;
  content: "";
  width: 85px;
  height: 2px;
  margin: 0 0 2px 5px;
  background-color: brown;
}

.contact-info p {
  margin-bottom: 17px;
}

/* CONTACT BUTTON____________________________________ */
/* __________________________________________________ */

.contact-form .hire-me {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -50px;
  text-align: center;
  z-index: 5;
}

.contact-form .hire-me a {
  font-family: "montserrat-semibold", sans-serif;
  font-size: 1.5rem;
  text-transform: uppercase;
  text-decoration: none;
  color: gray;
  padding: 5px;
  display: block;
  border: 3px;
  border-style: solid;
  width: 200px;
  border-color: gray;
  color: grey;
  transition: all 0.6s ease-in-out;
}

.contact-form .hire-me .button:hover,
.contact-form .hire-me .button:focus {
  background-color: grey;
  color: brown !important;
}

/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
______________CONTACT end_______________________________
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/

/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
______________FOOTER start______________________________
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/

.footer {
  width: 100vw;
  height: 470px;
  background-image: url(assets/tlo/piasek.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

/* LOGO________________________________________________ */
/* ____________________________________________________ */

.footer img {
  position: absolute;
  top: 1.5vh;
  left: 50%;
  transform: translateX(-50%);
  height: 250px;
  width: 250px;
}

/* SOCIAL FOOTER_______________________________________ */
/* ____________________________________________________ */

.social-footer {
  position: absolute;
  top: 290px;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  max-width: 500px;
  display: flex;
  justify-content: space-between;
}

.social-footer a {
  color: grey;
  font-size: 50px;
  transition: all 0.6s ease-in-out;
  text-decoration: none;
}

.social-footer a:hover {
  color: brown;
}

.sc-instagram-footer:before {
  display: inline-block;
  content: "";
  width: 30px;
  height: 2px;
  margin-bottom: 5px;
  background-color: brown;
}

.sc-instagram-footer:after {
  display: inline-block;
  content: "";
  width: 38px;
  height: 2px;
  margin-bottom: 5px;
  background-color: brown;
}

.sc-fiverr-footer:before {
  display: inline-block;
  content: "";
  width: 25px;
  height: 2px;
  margin-bottom: 5px;
  background-color: brown;
}

.sc-fiverr-footer:after {
  display: inline-block;
  content: "";
  width: 60px;
  height: 2px;
  margin-bottom: 5px;
  background-color: brown;
}

.sc-youtube-footer:before {
  display: inline-block;
  content: "";
  width: 20px;
  height: 2px;
  margin-bottom: 5px;
  background-color: brown;
}

.sc-youtube-footer:after {
  display: inline-block;
  content: "";
  width: 10px;
  height: 2px;
  margin-bottom: 5px;
  margin-left: 5px;
  background-color: brown;
}

/* FOOTER CREDITS______________________________________ */
/* ____________________________________________________ */

.footer-credits {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  font-family: "montserrat-bold", sans-serif;
  color: grey;
}

.footer-credits h1 {
  font-size: medium;
}

.footer-credits span {
  color: brown;
  text-transform: uppercase;
}
